<div id="about-wrap">
  <div>
    <h2>Um síðuna</h2>
  </div>
  <div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae lorem in mauris vehicula dignissim. Pellentesque gravida eros ut augue faucibus iaculis. Nunc aliquam urna et diam maximus sagittis. Mauris pulvinar maximus augue at vestibulum. Donec facilisis tincidunt blandit. Etiam condimentum ex nec erat suscipit laoreet. Duis viverra dictum tortor, ut interdum nibh rutrum at. Vestibulum non erat a magna iaculis finibus. Vestibulum sit amet mollis lorem, eget tincidunt tortor. Curabitur vulputate eu justo sed lacinia. Etiam bibendum, urna eu sollicitudin mattis, nunc mi consectetur massa, id pretium ipsum orci eu est. In interdum tincidunt nisl, id tincidunt odio condimentum ac.
    </p>
  </div>
</div>
