<div id="about-wrap">
  <div>
    <h2>Um síðuna</h2>
  </div>
  <div>
    <p>
      Matarlandslagið er veflægur heildaryfirlitsgrunnur yfir frumframleiðendur matvæla á Íslandi, unnin af Matís. Gagnagrunnurinn mun gefa möguleika á heildrænum upplýsingum um matvælaframleiðslu úr auðlindum lands og sjávar á Íslandi. Auk þess er stefnt að því að um verði að ræða nýjan vettvang beinna viðskipta neytenda við bændur og aðra framleiðendur, þar sem öryggi og upprunaleiki upplýsinga um afurðir verður tryggt með blockchain-tækninni.
    </p>
  </div>
</div>
