.welcome_wrap {
    padding: 10% 5%;
    background-color: #0c5460;
    height: 100vh;
    padding-top: 40vh;
  }

.welcome_note {
    color: white;
    font-family: source sans pro;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.button_wrapper {
    text-align: center;
    margin-top: 100px;
}

button {
    margin-right: 15px;
}