

<div id="market_wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 market_img_wrap">
              <img src="../../assets/img/pakkhus.jpg">
            </div>
            <div class="col-lg-4 market_text">
              <div class="market_heading_wrap">
              <h2 class="market_heading">
                Bændamarkaður<br> Hofsósi
              </h2>
              </div>
              <div class="market_info">
              <p>Bændamarkaðurinn í Hofsósi fer fram í hinu menningarsögulega Pakkhúsi á Hofsósi sem er hluti af húsasafni Þjóðminjasafns Íslands. Þarna er boðið upp á norðlenskar afurðir frá bændum og öðrum framleiðendum og handverksfólki. Hér að neðan er listi yfir þá staði sem er þáttakendur í bændamarkaðinum í ár.</p>
            </div>
            </div>
        </div>
    </div>
</div>

<div id="food_market_map">
    <div class="header"></div>
    <div class='sidebar pad2'>
        <a id="pant" [routerLink] = "['/farm', parameter]"></a>
        <div class='part_heading'>
            <h1>Þátttakendur</h1> 
        </div>
        <div id='listings' class='listings'></div>   
    </div>
    <div class="map pad2" id="map"></div>
</div>
