<div class="header"></div>
<div class='sidebar pad2'>
    <a id="pant" [routerLink] = "['/farm', parameter]"></a>
    <div class='heading'>
        <h1>Bændamarkaður Hofsósi</h1>
        <div class="mainimg_wrap"><img src="../assets/img/pakkhus.jpg"></div>
        <div class="about_text">
            <p>Bændamarkaðurinn í Hofsósi fer fram í hinu menningarsögulega um 250 ára gamla Pakkhúsi á Hofsósi sem er hluti af húsasafni Þjóðminjasafns Íslands - Býður upp á norðlenskar afurðir frá bændum og öðrum framleiðendum og handverksfólki. Hér að neðan er listi yfir þá staði sem er þáttakendur í bændamarkaðinum í ár.
            </p>
        </div>   
    </div>
    <div id='listings' class='listings'></div>   
</div>
<div class="map pad2" id="map"></div>
