<div *ngIf="farm" id="farm-wrap">
  <div class="farm-img-wrap">
      <div class="container">
      <div class="row">
        <div class="farm_mainimg col-lg-6">
            <div class="container">
                <div class="row">
                  <div class="col farmimg">
                    <img src="{{farm.properties.img}}">
                  </div>
                </div>
            </div>
        </div>
        <div class="farm_details col-lg-6">
            
            <div class="farm_heading_wrap">
                <h2>{{farm.properties.name | uppercase}}</h2>    
            </div>
            <div class="farm_info">
            <p>{{farm.properties.info}}</p>
            
            </div>
            <div class="farm_practical">
                <div class="row">
                  <div class="col">
                      <h4><span>Vörur: </span><br>{{farm.properties.products}}</h4>
                  </div>
                  <div class="col">
                      <h4><span>Staðsetning: </span><br>{{farm.properties.address}}, {{farm.properties.zip}}</h4><br>
                      <h4><span>Símanúmer: </span><br>{{farm.properties.phone}}</h4><br> 
                  </div>  
                </div>
            </div>
            <div class="buttons_wrapper">
            <button class="btn btn-primary"(click)="goBack()">Aftur á yfirlitssíðu</button>
            <a href="mailto:{{farm.properties.email}}?Subject=Bændamarkaður Hofsósi" class="btn btn-primary fyrirspurn" target="_top">Senda fyrirspurn<br>með tölvupósti</a>
            <button *ngIf="farm.properties.id == 6" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              Skoða lambaskrokka<br> (gögn úr blockchain)
            </button>
          </div>
        </div>
      </div>
  </div>
</div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-products" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalCenterTitle">Listi yfir lambaskrokka frá Birkihlíð</h4>
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p style="text-align: left">Bitar sem voru í boði: hryggvöðvar, innralærisvöðvar, flatsteik, læri, lambaskankar, framhryggsvöðvar (prime), lambabógur. Viðkomandi vörur hafa ekki verið til sölu eftir að Bændamarkaðurinn Hofsósi fór fram þann 30. september 2018.<br><br> <strong>Nánari upplýsingar um kjötmat má finna <a href="http://kjotbokin.is/">hér.</a></strong></p>
                        <div class="table-responsive-md">
                          <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th scope="col">Númer lambs</th>
                                  <th scope="col">Fæðingard.</th>
                                  <th scope="col">Kyn</th>                             
                                  <th scope="col">Sláturd.</th>
                                  <th scope="col">Fallþungi (kg)</th>
                                  <th scope="col">Vöðvafl.</th>
                                  <th scope="col">Fitufl.</th>
                                  <th scope="col">Sláturstaður</th>
                                  <th scope="col">GPS</th>
                                </tr>
                              </thead>
                              <tbody>
                                
                                <tr *ngFor="let item of this.lambAndCarcass">
                                  <th scope="row">{{item.lambId}}</th>
                                  <td>{{item.birthDate | date:'d/M/yyyy' }}</td>
                                  <td *ngIf="item.gender == 'MALE'">Hrútur</td>
                                  <td *ngIf="item.gender == 'FEMALE'">Gimbur</td>
                                  <td>{{item.slaughterDate | date:'d/M/yyyy' }}</td>
                                  <td>{{item.weight}}</td>
                                  <td>{{item.rating}}</td>
                                  <td>{{item.fatCategory}}</td>
                                  <td>{{item.slaughterhouse}}</td>  
                                  <td>-</td>
                                </tr>
                               
                                
                              </tbody>
                            </table>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hætta við</button>
                        <a href="mailto:raggalara@gmail.com?Subject=Bændamarkaður Hofsósi" class="btn btn-primary" target="_top">Senda fyrirspurn<br>með tölvupósti</a>
                      </div>
                    </div>
                  </div>
                </div>
    
 
  
  
  