#farm-wrap {
    text-align: center;
    font-family: source sans pro;
    width: 100%;
    margin: 0 auto;
}

.farm_info {
    padding: 30px 10%;
}

.farm_practical {
    margin-bottom: 30px;
}

.farm-img-wrap {
    max-height: 500px;
    overflow: hidden;
}

#farm-wrap img {
    height: auto;
    width: 100%;
    background-position: center; 
}

#farm-wrap button {
    margin-right: 15px;
}

#farm-wrap h2 {
    color: #00aa34; 
    letter-spacing: 2.5px;
    font-weight: bolder;
}

.farm_heading_wrap {
    background-color: #f8f9fa;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.farm_practical span {
    font-size: 14px;
}

.modal-products {
    max-width: 90%;
}