<div id="map">
  
      <!--<div id="dashboard" class="col-sm-12">
              
          <div id="station_info" class="row">
                  
                  <div class="col-sm-4"></div>
                  <div id="station_card" class="col-sm-4">
                      <div id="card-heading"><img id="foodinc" src=''/><span id="info"></span></div>
                      <img src="../assets/img/close.png" (click)="close($event)" id="close_button"/>
                      <div class="row">
                      <div class="col-sm-6 details">
                          <h6>Staðsetning:</h6>
                          <h5 id="location"></h5>
                      </div>
                      <div class="col-sm-6 details">
                          <h6>Starfsemi:</h6>
                          <h5 id="foodtype"></h5>
                          <h5 id="foodtypeII"></h5>
                      </div>
                      </div>
                  </div>
                  <div class="col-sm-4"></div>
              
          </div>
          
      </div>-->
   
  
  </div>
  
  <div class='menu-wrap'>
      <div>
        <div>
            <h2>Frumframleiðendur á Íslandi</h2>
        </div>
        <div>
            <p>
                Á þessu gagnvirka korti má sjá dreifingu á frumframleiðslu matar á Íslandi eftir tegundum með því að smella á viðeigandi flipa.
            </p>
        </div>
      </div>
      <ul id='menu' class='listing'></ul>
  </div>
