.menu-wrap {
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: white;
  padding-top: 120px;
}

.menu-wrap p {
    font-family: source sans pro;
}

.menu-wrap h2 {
    font-family: source sans pro;
    font-weight: 500;
    letter-spacing: 2.5px;
    margin-bottom: 30px;
}

#menu {
  display: -webkit-inline-box;
  margin-top: 50px;
  text-align: center;
  display: -webkit-inline-box;
  cursor: pointer;
  margin-top: 18px !important;
  z-index: 100;
  padding: 0px;
  margin-bottom: 0px;
}

#menu[_ngcontent-c1] > li {
  cursor: pointer !important;
}

#menu > .list-group-item {
  color: black !important;
  border: none !important;
  margin-bottom: none !important;
}

#menu[_ngcontent-c1] .list-group-item:first-child {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

#tabs {
    position: absolute;
    bottom: 0px !important;
    z-index: 2;
    text-align: center;
    font-size: 14px;
}

#map { 
    position: absolute;
    width:100%;
    height:100%;
}
  
#menu[_ngcontent-c1] > li {
    cursor: pointer !important;
}
  
#menu > .list-group-item {
    color: black !important;
    border: none !important;
    margin-bottom: none !important;
}
  
#menu[_ngcontent-c1] .list-group-item:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
  
#tabs {
    position: absolute;
    bottom: 0px !important;
    z-index: 2;
    text-align: center;
    font-size: 14px;
}