.map {
    width: 67.7777777%;
    height: 100vh;
    margin-top: 35px;
    left: 33.33333333%;
  }

#sheep_btn {
    z-index: 10000000;
    position: absolute;
    top: 25%;
  }

#menu {
  width: 33.33333333%;
  height: 100%;
  background-color: #fbfbfb;
  position: absolute;
  z-index: 1;
  overflow: scroll;
  padding-top: 60px;
}

.control_panel {
  padding: 15px;
  font-family: source sans pro;
}

.btn-wrap {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

th {
  font-family: source sans pro;
}

td {
  font-size: 16px;
  vertical-align: middle;
  font-family: source sans pro;
}

td button {
  font-size: 0.8rem;
}

.filter-btns {
  margin-bottom: 30px;
}

.btn-group-toggle {
  text-align: center;
}

.btn-framl {
  margin-right: 15px;
}

.more_info img {
  height: 30px;
  float: right;
}

.marker {
  width: 30px;
  height: 30px;
  background-color: red;
}